<!DOCTYPE html>

<html>
    <head>
        <title>CHAT</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    
    <style>
        #container{
            border: 2px black solid;
            max-height: 400px;
            overflow-y: scroll;
        }
    </style>
    
    <body>
        
        <h1>CHAT TEST</h1>
        <p>text:</p><br/>
            <div id="container">
        </div>
    
        <input id="textIN" name="textIN" type="text" placeholder="MESSAGE">
        <input id="send" type="submit" value="SEND" onclick="send()" >
        <br/><br/>
        <input name="PSEUDO" type="text" placeholder="PSEUDO">
        
        
        
        
        <script>
            var pseudoBase = prompt("TON PSEUDO?: ", "mec_random");
            var idRoom = window.location.pathname;
            idRoom = idRoom.replace('/', '');

            var ws = new WebSocket("wss://chatchatosv0.herokuapp.com");
            firstMsg = {
                connect: 'first',
                pseudo: pseudoBase,
                room: idRoom
            }
            
            
            
            var addMsg = function(pseudo, msg){
                var para = document.createElement("p");
                para.textContent = String(pseudo) + ": " + String(msg);
                document.getElementById("container").appendChild(para);
                document.getElementById("container").scrollTop = document.getElementById("container").scrollHeight;
            }
            
            var send = function(){
                var msg = {
                    msg: document.getElementsByName("textIN")[0].value,
                    pseudo: document.getElementsByName("PSEUDO")[0].value,
                    type: 'chatMsg'
                }
                ws.send(JSON.stringify(msg));
                addMsg(document.getElementsByName("PSEUDO")[0].value, document.getElementsByName("textIN")[0].value);
                document.getElementsByName("textIN")[0].value = "";
            }
            
            ws.onmessage = function(RAW){
                var obj = JSON.parse(RAW.data);
                if(obj.type == 'chatMsg')
                    addMsg(obj.pseudo, obj.msg);
                else{
                    console.log(obj);
                    ws.send(JSON.stringify(firstMsg));
                }
            }
            
            $("#textIN").keyup(function(event) {
                if (event.keyCode === 13) {
                    send();
                }
            });
        </script>
        
    </body>
    
</html>