<!DOCTYPE html>

<html>
    <head>
        <title id="titleHead">CHAT</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    
    <style>
        #container{
            border: 2px black solid;
            max-height: 400px;
            overflow-y: scroll;
        }
    </style>
    
    <body id="body">
        
        <h1 id="titre">CHAT TEST</h1>
        <p id="nbClients">BONJOUR</p><br/>
            <div id="container">
        </div>
    
        <input id="textIN" name="textIN" type="text" placeholder="MESSAGE">
        <input id="send" type="submit" value="SEND" onclick="send()" >
        <br/><br/>
        <!--<input name="PSEUDO" type="text" placeholder="PSEUDO">-->
        
        
        
        
        <script>
            var debug = false;
            var pseudoBase = '';
            var ws = new WebSocket("wss://chatchatosv0.herokuapp.com");
            var pseudoOkay = false;
            var idRoom = window.location.pathname;
            idRoom = idRoom.replace('/', '');
            
            var askPseudo = function(){
                 pseudoBase = prompt("TON PSEUDO?: ", "mec_random");
                //document.getElementsByName("PSEUDO")[0].value = pseudoBase;
                var msgPseudo = {
                    type: 'pseudo?',
                    room: idRoom,
                    pseudo: pseudoBase
                }
                ws.send(JSON.stringify(msgPseudo));
            }
            
			var pseudo = pseudoBase;
                
			var msgNotif = 0;
			var clignoOn = false;
			
			var focused = true;

			window.onfocus = function() {
				focused = true;
				msgNotif = 0;
				clignoOn = false;
				titleHead.innerText = 'CHAT!';
			};
			window.onblur = function() {
				focused = false;
			};
			
			if (Notification.permission !== "granted")
				Notification.requestPermission();
            
            document.getElementById("titre").textContent += " : SALLE : " + idRoom;

            var firstMsg = {
                connect: 'first',
                pseudo: pseudoBase,
                room: idRoom
            }
            
            function checkURL(url) {
                return(url.match(/\.(jpeg|jpg|gif|png)$/) != null);
            }
            
            var addMsg = function(pseudo, msg, minutes, heures, notifBool){
                
                //string=encodeURIComponent(string); // %3Cscript%3E...%3C/script%3
				let notif = notifBool || false
                var date = new Date();
                var para = document.createElement("p");
                var body = document.getElementById("body");
                msg = String(msg);
                var msgTot = msg;
                var msgTemp = "";
                var msgBalise = "";
                para.textContent =  String(heures) + ":" + String(minutes) + " - "+ String(pseudo) + ": ";
                document.getElementById("container").appendChild(para);
                /*while(msgTot.indexOf("<blue>") != -1 && msgTot.indexOf("</blue>") > msgTot.indexOf("<blue>"))
                    {
                        var nb = msgTot.indexOf("<blue>");
                        var nb2 = msgTot.indexOf("</blue>");
                        msgBalise = "blue";
                        msgTemp = msgTot.substring(0, nb);
                        para.innerHTML += msgTemp;
                        msgTemp = msgTot.substring(nb + msgBalise.length + 2, nb2);
                        var span = document.createElement("span");
                        para.appendChild(span);
                        span.innerHTML += msgTemp;
                        msgTot = msgTot.substring(nb2 + msgBalise.length + 3);
                    }*/
                if(msgTot.indexOf("<style>") != -1 && msgTot.indexOf("</style>") > msgTot.indexOf("<style>"))
                    {
                        var nb = msgTot.indexOf("<style>");
                        var nb2 = msgTot.indexOf("</style>");
                        msgBalise = "style";
                        msgTemp = msgTot.substring(nb + msgBalise.length + 2, nb2);
                        var style = document.createElement("style");
                        body.appendChild(style);
                        style.innerHTML += msgTemp;
                    }
                para.innerHTML += msgTot;
                document.getElementById("container").scrollTop = document.getElementById("container").scrollHeight;
                if(checkURL(msgTot))
                    {
                        para.innerHTML += '<img style="max-height: 200px; max-width: 200px;" src="' + msgTot + '" />';
                        document.getElementById("container").scrollTop = document.getElementById("container").scrollHeight;
                    }
				if(msgNotif < 3 && !focused && notif)
				{
					msgNotif++;
					var notification = new Notification('chatchatos', {
						//icon: 'http://cdn.sstatic.net/stackexchange/img/logos/so/so-icon.png',
						body: msgTot
					});
				}
				if(!focused){
					clignoOn = true;
				}
            }
            
            var send = function(){
                var date = new Date();
                var command = document.getElementsByName("textIN")[0].value;
                var msg = {
                    msg: document.getElementsByName("textIN")[0].value,
                    pseudo: pseudo,
                    type: 'chatMsg'
                }
                addMsg(pseudo, document.getElementsByName("textIN")[0].value, date.getMinutes(), date.getHours());
                if(command == '/clear')
                    {
                        document.getElementById("container").innerHTML = '';
                    }
                else
                    ws.send(JSON.stringify(msg));
                document.getElementsByName("textIN")[0].value = "";
            }
            
            ws.onmessage = function(RAW){
                var obj = JSON.parse(RAW.data);
                if(debug)
                    console.log(obj);
                if(obj.type == 'chatMsg')
                    addMsg(obj.pseudo, obj.msg, obj.minutes, obj.heures, true);
                else if(obj.type == 'ok'){
                    askPseudo();
                }
                else if(obj.type == 'pong')
                    {
                        document.getElementById("nbClients").textContent = "Il y a " + String(obj.nbClients) + " personnes sur ce salon";
                    }
                if(obj.type == 'pseudo?')
                    {
                        console.log(obj);
                        if(obj.result == 'okay'){
                            firstMsg = {
                            connect: 'first',
                            pseudo: pseudoBase,
                            room: idRoom
                        }
                            ws.send(JSON.stringify(firstMsg));
                            pseudo = pseudoBase;
                        }
                        else{
                            alert('pseudo deja pris ou pas valide!');
                            askPseudo();
                        }
                    }
            }
            
            $("#textIN").keyup(function(event) {
                if (event.keyCode === 13) {
                    if(document.getElementsByName("textIN")[0].value != '' && document.getElementsByName("textIN")[0].value != ' ')
                        send();
                }
            });
            
            window.onbeforeunload = function () {
                var msgDisc = {
                    type: 'disconnect'
                }
                ws.send(JSON.stringify(msgDisc));
                console.log("bye!");
                //websocket.onclose = function () {}; // disable onclose handler first
                //websocket.close()
            };
            
            setInterval(function(){
                var ping = {
                    type: 'ping'
                }
                ws.send(JSON.stringify(ping));
            }, 4000);
			
			var titleHead = document.getElementById('titleHead');
			var titleHeadSwitch = true;
			setInterval(function(){
				if(clignoOn){
					if(titleHeadSwitch){
						titleHead.innerText = 'msg recu!';
						titleHeadSwitch = false;
					}
					else{
						titleHead.innerText = 'CHAT!';
						titleHeadSwitch = true;
					}
				}
			}, 500);
			
        </script>
        
    </body>
    
</html>
