<!DOCTYPE html>

<html>

    <head>
        <title>TITRE!</title>
    </head>

    <body>
        <p>Bonsoir, bienvenue dans ce truc.. <br>bref.. <br>voila:</p>
        <input type="text" placeholder="NOM DE LA SALLE", name="inputSalle", id="inputSalle">
        <input type="submit" value="GO!" onclick="go()">
        
        <script>
            var go = function(){
                if(window.location.href[window.location.href.length - 1] != '/')
                   window.location.href += '/';
                window.location.href += document.getElementsByName("inputSalle")[0].value;
            }
            document.getElementById("inputSalle").onkeyup = function(event) {
                if (event.keyCode === 13) {
                    go();
                }
            };
            
            
            var ws = new WebSocket("wss://chatchatosv0.herokuapp.com");
            var firstMsg = {
                type: 'getStats'
            }
            ws.onmessage = function(RAW){
                var obj = JSON.parse(RAW.data);
                if(debug)
                    console.log(obj);
                if(obj.type == 'getStats'){
                    var stats = JSON.parse(obj.stats);
                    console.log(stats);
                    
                }
                else if(obj.type == 'ok'){
                    ws.send(JSON.stringify(firstMsg));
                }
            }
            
            
        </script>
    </body>
    
</html>