<!DOCTYPE html>

<html>

    <head>
        <title>TITRE!</title>
        <style>
            p{
                color: red;
            }
        </style>
    </head>

    <body>
        <h1>Ceci est un Texte Important!</h1>
        <p> Ceci est du Texte </br> Et ca aussi! </p>
        <a href=”www.google.com”>Ceci est un hyperlien</a>
        <form action=”cible.php” method=”post”> </form>
    </body>
    
</html>