#fond1
{
  background-image: url("../images/aleatoire/js.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#fond2
{
  background-image: url("../images/aleatoire/macdo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#container
{
  background-color: white;
  
}