
#fond1
{
  background-image: url("../images/macdo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#fond2
{
  background-repeat: no-repeat;
  background-size: cover;
}

#container
{
  background-color: white; 
  width: 98.25%;
  margin-left:-0.5%;
  padding: 16px 20px;
  opacity: 0.60; 

}

.nomdelasalle
{
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 100%;
    letter-spacing: 0.1em ;
    word-wrap: break-word;
    -webkit-transition-duration: 1s; /* Safari */
    transition-duration: 1s;
    background-color: white; 
    border: 2px solid silver;
    margin:auto; /* centrer */
    margin-top: 2%;
    width: 40%;
    border-radius: 10px;
    outline : none;
    cursor : text;
    
}

.go
{
  color: black;
    padding: 16px 16px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 100%;
    letter-spacing: 0.1em ;
    word-wrap: break-word;
    -webkit-transition-duration: 1s; /* Safari */
    transition-duration: 1s;
    cursor: pointer;
    background-color: white; 
    border: 2px solid silver;
    margin: auto; /* centrer */
    margin-top: 1%;
    width: 10%;
    border-radius: 10px;
    outline : none;
    
}
.go:hover 
{
  background-size: contain;
  color: rgb(12, 12, 12);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border: 1px white;
   
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color:  #afafaf;
}

.messageenvoie
{
  color: black;
  padding: 16px 32px;
  text-align: auto;
  text-decoration: none;
  display: block;
  font-size: 100%;
  word-wrap: break-word;
  cursor: pointer;
  background-color: white; 
  border: 2px solid silver;
  margin-left:0.5%; /* centrer */
  margin-top: 2%;
  width: 95%;
  border-radius: 10px;
  overflow: auto;
  cursor: text;
  
}

.salle
{
    color: black;
    padding: 30px 60px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 100%;
    letter-spacing: 0.1em ;
    word-wrap: break-word;
    -webkit-transition-duration: 1s; /* Safari */
    transition-duration: 1s;
    cursor: default;
    background-color: white; 
    border: 2px solid silver;
    margin:auto; /* centrer */
    margin-top: 2%;
    width: 15%;
    border-radius: 10px;
    outline : none;
    
}

.nombredepersonne
{
    color: black;
    padding: 16px 32px;
    text-align: center;
    position: left;
    text-decoration: none;
    display: block;
    font-size: 100%;
    letter-spacing: 0.1em ;
    word-wrap: break-word;
    -webkit-transition-duration: 1s; /* Safari */
    transition-duration: 1s;
    background-color: white; 
    border: 1px solid silver;
    margin-left:0.5%; /* centrer */
    margin-top: 2%;
    width: 20%;
    border-radius: 5px;
    outline : none;
    cursor : default;
    
}

.zoom {
  transition: transform 1.5s; /* Animation */
  
}

.zoom:hover {
  transform: scale(1.3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


